BasedOnStyle: LLVM
IndentWidth: 8
ColumnLimit: 100
UseTab: ForIndentation
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -8
SpacesInParentheses: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
NamespaceIndentation: All
IncludeCategories:
  - Regex: '^(<SDL)'
    Priority: 1
  - Regex: '^(<)'
    Priority: 2
  - Regex: '$(.h>)'
    Priority: 3
  - Regex: '^(")'
    Priority: 4
SortIncludes: true
